In [16]:
import pandas as pd
import numpy as np

In [17]:
data=pd.read_csv('NewParameterSamples.csv')

In [18]:
speed=pd.read_csv('speed_data.csv')

In [19]:
speed.columns=['Timestamp','Speed']

In [20]:
t=pd.merge(speed,data,on=['Timestamp'],how='outer')

In [21]:
t=t.sort_values(by='Timestamp')

In [22]:
for i in t.columns:
    if i!='Timestamp' and i!='Speed':
        t[i]=t[i].fillna(method='ffill')

In [23]:
t=t.dropna(subset=['Snelheid'])

In [24]:
t['Speed']=t['Speed'].fillna(method='bfill')

In [25]:
results=t.groupby(['Snelheid', 'Omvang1', 'Positie1', 'Omvang2','Positie2', 'Relatie']).agg({'Speed':np.mean})

In [26]:
Final=results.reset_index()

In [27]:
Final

     Snelheid  Omvang1  Positie1  Omvang2  Positie2  Relatie     Speed
0         0.0      0.0     -15.0     15.0     -75.0     15.0  1.012087
1         0.0      0.0      15.0     30.0      30.0    -90.0  0.844846
2         0.0      0.0      15.0     60.0     -30.0    -90.0  2.491373
3         0.0      0.0      45.0     60.0      75.0     60.0  1.249660
4         0.0      0.0      75.0     30.0     -75.0    -90.0  1.112912
..        ...      ...       ...      ...       ...      ...       ...
495       9.0     75.0     -75.0     75.0      30.0     75.0  6.425747
496       9.0     75.0     -15.0     15.0      45.0    -15.0  5.442771
497       9.0     75.0      45.0     45.0     -60.0    -90.0  7.274191
498       9.0     75.0      45.0     45.0     -45.0     45.0  6.966943
499       9.0     75.0      75.0     75.0     -90.0    -75.0  6.675956

[500 rows x 7 columns]

In [28]:
Final

     Snelheid  Omvang1  Positie1  Omvang2  Positie2  Relatie     Speed
0         0.0      0.0     -15.0     15.0     -75.0     15.0  1.012087
1         0.0      0.0      15.0     30.0      30.0    -90.0  0.844846
2         0.0      0.0      15.0     60.0     -30.0    -90.0  2.491373
3         0.0      0.0      45.0     60.0      75.0     60.0  1.249660
4         0.0      0.0      75.0     30.0     -75.0    -90.0  1.112912
..        ...      ...       ...      ...       ...      ...       ...
495       9.0     75.0     -75.0     75.0      30.0     75.0  6.425747
496       9.0     75.0     -15.0     15.0      45.0    -15.0  5.442771
497       9.0     75.0      45.0     45.0     -60.0    -90.0  7.274191
498       9.0     75.0      45.0     45.0     -45.0     45.0  6.966943
499       9.0     75.0      75.0     75.0     -90.0    -75.0  6.675956

[500 rows x 7 columns]

In [15]:
Final.to_csv('firstbatch_500Samples.csv')